<%- include partials/header.ejs %>
<%- include partials/nav.ejs %>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<div class="hand"></div>
<script src="/javascripts/game.bundle.js"></script>
<%- include partials/footer.ejs %>